<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css"/>
  <link rel="stylesheet" href="__PUBLIC__/Home/css/home.css"/>
  <link rel="stylesheet" href="__PUBLIC__/Home/css/login.css"/>
</head>
<body>
<button></button>
<div id="header">
    <div class="add">
      <div class="lf">
        <a href="__APP__/Home/Index/index">
          <img src="__PUBLIC__/Home/images/ls_logonew.png" alt=""/>
        </a>
        <span style="color: #3094EC;">用户登陆</span>
      </div>
      <div class="ri_logo">
        <ul>
          <li><b></b>即买即卖</li>
          <li><b></b>优质供货</li>
          <li><b></b>最惠采购</li>
        </ul>
      </div>
  </div>
</div>
<form action="__URL__/check" method="post" id="formd">
<div id="main">
  <div id="login">
    <div class="header">
      <h3>登录连锁卖</h3>
      <a href="__APP__/Home/User/user">新用户注册</a>
    </div>
    <div class="main">
      <div class="add">
        <div class="lf"></div>
        <input  id="login_d" name="lname" class="lf" type="text" autofocus placeholder="用户名/手机号/邮箱" />
      </div>
      <div>
        <div class="secoend  lf"></div>
        <input id="login_p" name="lpwd" type="password" placeholder="请输入密码" required/>
      </div><a href="#">忘记密码？</a>
    </div>
    <div>
        <div class=""></div>
        <input id="login_p" name="verify" type="text" required/>
        <img onclick="this.src='__APP__/Home/Verify/show/s/'+Math.random();" src="__APP__/Home/Verify/show"/>
      </div>
    <div class="last">
      <input id="remen" type="checkbox"/>
      <label for="remen">记住用户名</label>
    </div>
    <input type="button" id="btn" value="登陆" />
  </div>
</div>
</form>
<div class="footer">
	<include file="Public/Home/tpl/footer.html"/>
</div>
<script src="__PUBLIC__/Home/js/jquery-1.11.3.js"></script>
<script>
  $('#btn').click(function(){
  	var data = $("#formd").serialize();
  	$.ajax({
  		type:"post",
  		url:"__APP__/Home/Login/check",
  		data:data,
  		success:function(re){
  			if(re=='ok'){
  				alert('登陆成功');
  				window.location.href="__APP__/Home/Index/index";
  			}else{
  				alert('登录失败');
  			}
  		}
  	});
  });
</script>
</body>
</html>